@model IEnumerable<WebApiForEmpresa.Models.ContatoViewModel>

@{
    ViewData["Title"] = "index";
}

@if (Model != null && Model.Any())
{
    <p>Total de contatos: @Model.Count()</p>
}
else
{
    <p>Nenhum contato encontrado.</p>
}


<h1>Admin Forms</h1>

<p>
    <a asp-action="Create">Criar contato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @* @Html.ActionLink("Create", "Create", new { /* id=item.PrimaryKey */ }) | *@
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Tem certeza que deseja excluir este contato?');">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
